<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springcloudjtaatomikos.mapper.db2.LogMapper">
    <resultMap id="BaseResultMap" type="com.example.springcloudjtaatomikos.entity.db2.Log">
        <!--@Table log-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="infoCode" jdbcType="VARCHAR" property="infocode"/>
        <result column="license_type" jdbcType="VARCHAR" property="licenseType"/>
        <result column="flag" jdbcType="VARCHAR" property="flag"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="data" jdbcType="VARCHAR" property="data"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, infoCode, license_type, flag, `result`, `data`, create_time, insert_date
    </sql>
</mapper>